{% extends 'base.html.twig' %}

{% block title %}Edit Edition{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_edition_index') }}">Editions</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_edition_show', {'id' : edition.id }) }}">{{ edition.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editing</li>
      </ol>
    </nav>


    <h1>Edit Edition</h1>
    {{ form(form) }}

    {{ include('edition/_delete_form.html.twig') }}
{% endblock %}
