{% extends 'base.html.twig' %}

{% block title %}Edition {{ edition.name }} {% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_edition_index') }}">Editions</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ edition.name }}</li>
      </ol>
    </nav>

    <h1>Edition</h1>

    <h2>Informations</h2>
    <div class="l-col12">
        <div class="o-card">
            <p class="o-card__title">{{ edition.name }}</p>
            <p class="o-card__description">{{ edition.date ? edition.date|date('d/m/Y') : '' }}</p>
            <img class="o-card__image" src="{{ edition.icon }}" />
        </div>
        
        <a href="{{ path('app_edition_edit', {'id': edition.id}) }}"> <button type="button" class="btn btn-primary">Edit</button></a>
    </div>
    
    <h2>Cards</h2>
    {{ include('card/index.html.twig') }}
    




    {{ include('edition/_delete_form.html.twig') }}
{% endblock %}
